@import url( "https://fonts.googleapis.com/css2?family=Dosis&display=swap" );
@import url( "https://fonts.googleapis.com/css2?family=Jost&display=swap" );
@font-face
{
    font-family: Von-Everec;
    src: url( "./assets/fonts/Von\ Everect.woff2" ) format( "woff2" );
}

html
{
    height: 100%;
}

body
{
    min-height: 100%;
    padding: 0;
    margin: 0;

    background-color: #06000c;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: aliceblue;

    display: flex;
    flex-direction: column;
}

/* Estilo de card básico da página */

.estilo-card
{
    border-radius: 10px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.2);
}

/* Menu principal da página */

#menu-container
{
    padding: 2rem;
    gap: 2rem;
    z-index: 2000 !important;
}

#menu-imagem-desktop
{
    max-width: 351px;
    max-height: 75px;
}

#menu-imagem-mobile
{
    max-width: 200px;
}

#menu-navegacao
{
    background-color: rgba(43, 30, 43, 0.7);
    backdrop-filter: blur(4px);
    /* height: 75px; */
}

#menu-linha-externa
{
    width: 80%;
    height: 1px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

#menu-linha-interna
{
    position: absolute;
    margin: 0;
    border: 0;
    height: 1px;
    width: 32px;
    left: 0;
    top: 50%;
    transform: translate( 0, -1px );
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-item
{
    position: relative;
    text-decoration: none;
    color: aliceblue;
    margin: 1rem;
}

.menu-item:hover
{
    color: rgba(0, 238, 255, 0.8);
}

.menu-item::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: rgb(238, 204, 204);
    background-image: linear-gradient(45deg, #0011ff, #00e1ff);
    position: absolute;
    bottom: 0;
    left: 0;
    top: 22px;
    transition: 0.5s ease-in-out;
}

.menu-item:hover::after {
    width: 100%;
}

.menu-ativo::after {
    width: 100%;
}

.menu-numero
{
    font-weight: 800;
    margin: 0 5px;
}

.hover {
    transition-duration:.3s;
}

.hover:hover {
    animation: btnHover .3s;
    transform: scale(1.02);
}

@media ( min-width: 992px )
{
    #menu-navegacao
    {
        max-width: 50%;
    }
}

/* Footer principal da página */

#footer
{
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer-linha
{
    position: absolute;
    border: 0;
    background-color: rgba(255, 255, 255, 0.822);
    width: 80%;
    top: 0;
    left: 50%;
    transform: translate( -50%, 0);
    height: 1px;
    margin: 0;
}

#footer-copyright
{
    justify-self: start;
    align-self: center;
    color: white;
    font-style: italic;
}

#footer-copyright p
{
    margin: 0;
}

.footer-icone
{
    color: white;
}

.footer-titulo
{
    margin: 0;
}

#footer .item-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.footer-item
{
    color: white;
    transition: 0.5s all ease;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    width: 75px;
}

.footer-item:hover
{
    transform: scale(1.1);
    background-color: rgba(36, 36, 36, 0.267);
    cursor: pointer;
    color: white;
}

.footer-item hr
{
    width: 100%;
}

