body
{
    background-color: black;
    background-image: url( "../assets/images/funco-astros.jpg" );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#earth
{
    background-image: url( "../assets/images/terra.jpg" );
    width: 300px;
    height: 300px;
}

#moon
{
    background-image: url( "../assets/images/lua.jpg" );
    width: 150px;
    height: 150px;
}

#mars
{
    background-image: url( "../assets/images/marte.jpg" );
    width: 220px;
    height: 220px;
}

.astro
{
    background-image: url( "./assets/earth-map.jpg" );
    border-radius: 50%;
    box-shadow: -20px -20px 50px 6px black inset, 0px 0px 20px 6px inset rgba( 0, 0, 0, 0.5 );
    background-size: cover;
    animation: girar 30s linear alternate infinite;
}

.astro-container
{
    margin: auto!important;
}

main
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@keyframes girar
{
    100% { background-position: 100%; }
}
