body
{
    background-color: black;
    background-image: url( "../assets/images/fundo-inicio.jpg" );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main
{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 0 2rem;
}

/* Estilizações e configuração dos astros */

#earth
{
    background-image: url( "../assets/images/terra.jpg" );
    width: 300px;
    height: 300px;
}

#moon
{
    background-image: url( "../assets/images/lua.jpg" );
    width: 150px;
    height: 150px;
}

#mars
{
    background-image: url( "../assets/images/marte.jpg" );
    width: 220px;
    height: 220px;
}

.astro
{
    margin: auto;
    background-image: url( "./assets/earth-map.jpg" );
    border-radius: 50%;
    box-shadow: -20px -20px 50px 6px black inset, 0px 0px 20px 6px inset rgba( 0, 0, 0, 0.5 );
    background-size: cover;
    animation: girar 30s linear alternate infinite;
}

.astro-container
{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Slider que contém os astros */

#astro-slider
{
    width: 400px!important;
    height: 400px!important;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.2);
}

/* Card principal que contém as informações */

#astro-informacoes
{
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    border-radius: 10px;
    padding: 2rem;
    backdrop-filter: blur(3px);
}

#astro-nome
{
    text-align: center;
}

.astro-atributo
{
    font-size: 1.25em;
    font-weight: 600;
}

@keyframes girar
{
    100% { background-position: 100%; }
}
