body {
    background-image: url(../assets/images/fundo-planos.jpg);
}

.circulo {
    width: 220px;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.63);
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 56%;
    left: 82%; */
    /* transform: translate(-50%, -50%); */
}

.sobre
{
    margin-top: 20%;
    transform: translate( 0, -50% );

    padding: 0 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    text-align: center;
    /* margin-top: 10%; */
    /* padding-left: 25%; */
    /* padding-right: 25%; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    /* background-color: #1212125e;
    border-radius: 8%; */
}

#circulo-texto
{
    font-size: 2rem;
    font-weight: 600;
    color: black;
    text-align: center;
    text-decoration: none;
}

#destaque {
    color: rgb(20, 112, 218);
    border: 0px;
    background-color: #1212124d;
    border-radius: 1rem;
    align-items: center;
    font-weight: bold;
    font-size: 5rem;
}

#texto-principal
{
    max-width: 50%;
}
