body {
    background-image: url(../assets/images/fundo-destinos.jpg);
    color: aliceblue !important;
    overflow-x: hidden;
}

#solCard {
    background-image: url(../assets/images/sol.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#mercurioCard {
    background-image: url(../assets/images/mercurio.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#venusCard {
    background-image: url(../assets/images/venus.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#terraCard {
    background-image: url(../assets/images/terra.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#luaCard {
    background-image: url(../assets/images/lua.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#marteCard {
    background-image: url(../assets/images/marte.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto !important;
}

#jupiterCard {
    background-image: url(../assets/images/jupiter.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto !important;
}

#saturnoCard {
    background-image: url(../assets/images/saturno.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto !important;
}

#uranoCard {
    background-image: url(../assets/images/urano.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto !important;
}

#netunoCard {
    background-image: url(../assets/images/netuno.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto !important;
}

/* planetas */
#animationContainer {
    position: relative;
    width: 95vw !important;
    height: 95vh !important;
    border: 1px solid white;
    margin: 0 auto;
    background-color: black;
    background-image: url(../assets/images/fundo-animacao.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.planet {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}

#sun {
    background-color: orange;
    width: 50px;
    height: 50px;
}

#mercury {
    background-color: gray;
    width: 5px;
    height: 5px;
}

#venus {
    background-color: chocolate;
    width: 10px;
    height: 10px;
}

#earth {
    background-color: royalblue;
    width: 12px;
    height: 12px;
}

#moon {
    background-color: gainsboro;
    width: 6px;
    height: 6px;
}

#mars {
    background-color: brown;
    width: 11px;
    height: 11px;
}
/* 
#asteroid {
    
} */

#jupiter {
    background-color: rosybrown;
    width: 35px;
    height: 35px;
}

#saturn {
    background-color: tan;
    width: 25px;
    height: 25px;
}

#uranus {
    background-color: aqua;
    width: 20px;
    height: 20px;
}

#neptune {
    background-color: blue;
    width: 25px;
    height: 25px;
}
/* fim planetas */

/* cards */
#closeCard {
    position: absolute;
    cursor: pointer;
    left: 12px;
    top: 8px;
}

.cardsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* 995 - 663 */

.zIndex {
    z-index: -1 !important;
}

.cardClass {
    max-width: 300px;
    min-width: 300px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    padding: 2rem;
    padding-top: 0;
    border-radius: 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 20px 3px black;
    margin: 1rem;
    cursor: default;
}

.cardClass p {
    font-family: 'Jost';
}

.cardButtons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-radius: 30px;
}

.cardTitle {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Von-Everec';
}
/* fim dos cards */
