body {
    background-image: url(../assets/images/fundo-destinos.jpg);
    color: aliceblue !important;
    overflow-x: hidden;
}

#solCard {
    background-image: url(../assets/images/sol.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#mercurioCard {
    background-image: url(../assets/images/mercurio.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#venusCard {
    background-image: url(../assets/images/venus.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#terraCard {
    background-image: url(../assets/images/terra.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#luaCard {
    background-image: url(../assets/images/lua.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#marteCard {
    background-image: url(../assets/images/marte.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto !important;
}

#jupiterCard {
    background-image: url(../assets/images/jupiter.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto !important;
}

#saturnoCard {
    background-image: url(../assets/images/saturno.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto !important;
}

#uranoCard {
    background-image: url(../assets/images/urano.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto !important;
}

#netunoCard {
    background-image: url(../assets/images/netuno.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto !important;
}

/* cards */
.cardsContainer {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    flex-wrap: wrap;
}

.cardClass {
    width: 300px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    padding: 2rem;
    padding-top: 0;
    border-radius: 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 20px 3px black;
}

.cardClass p {
    font-family: 'Jost';
}

.cardButtons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-radius: 30px;
}

.cardTitle {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Von-Everec';
}
/* fim dos cards */
