body {
    background-image: url(../assets/images/fundo-destinos.jpg);
    color: aliceblue !important;
}

#terra {
    background-image: url(../assets/images/terra.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#lua {
    background-image: url(../assets/images/lua.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#marte {
    background-image: url(../assets/images/marte.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto !important;
}

/* planetas */
#animationContainer {
    width: 90vw !important;
    height: 90vh !important;
    border: 1px solid white;
    margin: 0 auto;
    overflow: hidden;
}

.planet {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}

#sun {
    background-color: orange;
    width: 50px;
    height: 50px;
}

#mercury {
    background-color: gray;
    width: 5px;
    height: 5px;
}

#venus {
    background-color: chocolate;
    width: 10px;
    height: 10px;
}

#earth {
    background-color: royalblue;
    width: 12px;
    height: 12px;
}

#mars {
    background-color: brown;
    width: 11px;
    height: 11px;
}
/* 
#asteroid {
    
} */

#jupiter {
    background-color: rosybrown;
    width: 35px;
    height: 35px;
}

#saturn {
    background-color: tan;
    width: 25px;
    height: 25px;
}

#uranus {
    background-color: aqua;
    width: 20px;
    height: 20px;
}

#neptune {
    background-color: blue;
    width: 25px;
    height: 25px;
}
/* fim planetas */

/* cards */
.cardsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* 995 - 663 */

.cardClass {
    max-width: 300px;
    min-width: 300px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    padding: 2rem;
    padding-top: 0;
    border-radius: 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 20px 3px black;
    margin: 1rem;
}

.cardClass img {
    margin: 0 auto !important;
    width: 70% !important;
}

.cardClass p {
    font-family: 'Jost';
}

.cardButtons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-radius: 30px;
}

.cardTitle {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Von-Everec';
}

/* cards interativos */
.interactiveCardContainer {
    position: relative;
    z-index: 2000 !important;
    cursor: auto !important;
}

.interactiveCardContainer img {
    width: 50%;
    height:150px ;
    margin: 0 auto;
}
/* fim dos cards */
