* {
  box-sizing: border-box;
}

body {
  
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../assets/images/fundo-Sobre3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
 

}

.container .card {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(240, 236, 236, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5); */
  backdrop-filter: blur(3px);
}

#carouselExampleDark {
  width: 600px;
  height: 400px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5px;
  
}
.carousel-inner h5{
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif; 
  color:rgb(113, 207, 223);  
  font-size:60px;
  /* text-shadow: 0 0 0.1em rgb(236, 232, 232), 0 0 0.1em rgb(140, 140, 141); */
 }

.carousel-inner p {
  color:rgb(113, 207, 223); 
  font-size: 30px;
  text-align: center;
  padding-bottom: 5px;
  padding-left: 5px;

}
.carousel-item h5{
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif; 
 
  color: rgb(20, 222, 236);
  font-size:60px;
  
 }
 
 .flip-container {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

